# Files without extension
*
!*.*
!*/

# Quartus Files
*.bak
*.qsf
output_files/
db/
incremental_db/

# Simulation files
**/work
**/transcript
/simulation/
vsim.wlf
*.mti
*.mpf

# Vim activities
# Add `set noswapfile` to ~/.vimrc
*.swp

